<section id="basket">
  <ul id="basketitems">
    <% @foods.each do |food| %>
    <li class="basketitem">
      <label><%= food[:name] %></label>
      <span class="quantity" id=item<%= food[:id] %> >x<%= food[:quantity] %></span>
      <span class="price">$<%= food[:price] %></span>
      <button class="removebutton" data-foodid=<%= food[:id] %> data-price=<%= food[:price] / food[:quantity] %> >Remove</button>
    </li>
    <% end %>
  </ul>
  <div class="baskettotalprice">
    <label>TOTAL: </label>
    <span class="totalprice">$<%= @total_cost %></span>
  </div>
  <button id="clear">Clear Basket</button>
  <button id="scheduledelivery">Schedule Delivery</button>
</section>
