
<section id="restock">
  <h3>Items to Restock</h3>
  <p class="message">
    <em><%= @restock_message %></em>
  </p>
<ul id="restocklist">

  <% @items_to_refresh.each do |item| %>
  <li class="restockitem clearfix">

    <form action="/basket" method="post">

      <label class="foodname"><%= item[:food] %></label>

      <label class="age"><em><%= item[:age] %> Days</em></label>

      <input type="hidden" name="basket_id" value="<%= @basket.id %>">
      <input type="hidden" name="food_id" value="<%= item[:food_id] %>">

      <input class="addbutton" name="add" type="submit" value="add">

    </form>
  </li>
  <% end %>
</ul>
</section>
<hr>
<section id="pendingdeliveries">
  <h3>Pending Deliveries</h3>
  <p class="message">
    <em><%= @deliveries_message %></em>
  </p>
<ul id="pendingdeliverieslist">
  <% @pending_deliveries.each do |delivery| %>
  <li class="pendingdeliveriesitem">
    <div class="pendingitem">
      <label><%= delivery[:delivery_date] %></label>
      <label><%= delivery[:time_of_day] %></label>
    </div>
    <!-- <button class="viewbutton">View</button> -->
  </li>
  <% end %>
</ul>
</section>
