<section id="delivery">
  <article class="basketsummary">
    <div id="leftsummary">
      <div class="summaryordertotal">
        Order total: <%= @basket_total_price %>
      </div>
      <div class="summaryitemcount">
        Item Count: <%= @basket_item_count %>
      </div>
    </div>
    <div id="rightsummary">
      <button id="editbasket">Edit</button>
    </div>
    <!-- put a line right here in CSS - bottom border for .basketsummary -->
  </article>

  <article class="calendar">
    <form action="/delivery/success" method="post">
      <label for="calendardate">Date:</label>
      <input id="calendardate" type="date" name="delivery_date" placeholde="Choose Delivery Date">
      <% @time_of_days.each do |day| %>
      <label for="<%= day.name.downcase %>"><%= day.name %></label>
      <input type="radio" name="time_of_day" id="<%= day.name.downcase %>" value="<%= day.id %>">
      <% end %>
      <input type="submit" id="savedelivery" value="Save">
    </form>
    <form action="/delivery/cancel" method="post">
      <input type="submit" id="canceldelivery" value="Cancel">
    </form>
  </article>
</section>
