
<section id="shopping">
  <input type="hidden" name="basket_id" value="<%= @basket.id %>">
   <ul id="shoppinglist">

      <% @foods.each do |food| %>

     <li class="shoppinglistitem">
       <div class="expander">
         <label class="categoryname"><%= food[:category] %></label>
         <span class="expand"><i class="fa fa-plus-circle"></i></span>
       </div>
       <ul class="fooditemlist">
         <% food[:foods].each do |foodItem| %>

         <li class="fooditem clearfix" data-foodid= <%= foodItem[:food_id] %> >
           <label class="fooditemname"><%= foodItem[:name] %></label>
           <label class="fooditemprice">$<%= foodItem[:price] %></label>
           <button>add</button>
         </li>
        <% end %>
       </ul>
     </li>
     <% end %>
   </ul>
</section>
